@import '_variables';

@function createLightColor($color, $difference, $littleBig) {
    @if ($littleBig == true) {
        @return $color + $difference;
    } @else {
        @return $color - $difference;
    }
}

@mixin font($size: 16px, $weight: 400, $color: $colorDarkText, $line-height: 1.5) {
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    font-weight: $weight;
    color: $color;
    line-height: $line-height;
}

@mixin subtitle() {
    margin-bottom: 20px;
    font-size: 24px;
    color: $colorTitle;
    text-transform: uppercase;
}

@mixin btn($size, $weight, $color) {
    @include font($size, $weight, $color);
    @if ($color == $colorLightText) {
        background-color: $colorBlue;
        &:hover {
          background-color: lighten($colorBlue, 5%);
        }
    } @else {
        $color: $colorBlue;
        background-color: $colorLightText;
        &:hover {
            color: $colorLightText;
            background-color: $colorBlue;
        }
    }
    border: none;
    border-radius: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition-property: color, background-color;
    transition-duration: .3s;
    transition-timing-function: linear;
    cursor: pointer;
}
