$width: 1200px;
$colorTitle: #b501b5;
$colorDarkText: #000;
$colorLightText: #fff;
$colorBlue: #2f2ff0;
$bgColorMenu: #3bbbf6;
$listIcons: 'settings', 'clock', 'marker';
$listColors: rgba(0, 0, 255, 0.7), rgba(152, 45, 167, 0.7), rgba(255, 166, 0, 0.7), rgba(0, 128, 0, 0.7), rgba(255, 255, 0, 0.7), rgba(255, 0, 0, 0.7);
