@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat-regular.woff2) format('woff2'), url(../font/montserrat-regular.woff) format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat-medium.woff2) format('woff2'), url(../font/montserrat-medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat-semibold.woff2) format('woff2'), url(../font/montserrat-semibold.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../font/montserrat-extrabold.woff2) format('woff2'), url(../font/montserrat-extrabold.woff) format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #000;
}

h1 {
    margin: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    max-width: 100%;
}

.container {
    margin: 0 auto;
    padding-right: 50px;
    padding-left: 50px;
    max-width: 1200px;
}

.subtitle {
    margin-bottom: 20px;
    font-size: 24px;
    color: #b501b5;
    text-transform: uppercase;
}

.btn {
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #fff;
    background-color: #2f2ff0;
    transition: background-color .3s ease-in;
    cursor: pointer;
}

.btn:hover {
    background-color: #4949f0;
}

/* header */

.header__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.header__logo-link {
    font-size: 0;
}

.header__title {
    font-size: 24px;
    font-weight: 600;
    color: #b501b5;
    text-transform: uppercase;
}

.header__title-span {
    font-size: 40px;
    font-weight: 800;
    color: #000;
}

/* main */

.main__container {
    display: flex;
    padding: 0;
    min-height: calc(100vh - 150px);
}

/* main menu */

.menu {
    flex: 0 0 270px;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #3bbbf6;
}

.menu__list {
    text-align: center;
}

.menu__item {
    margin-bottom: 40px;
    padding: 20px;
}

.menu__item:last-of-type {
    margin-bottom: 0;
}

.menu__link {
    position: relative;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    transition: opacity .3s ease-in;
}

.menu__link.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 2px;
    background-color: #fff;
}

.menu__link:hover {
    opacity: .5;
}

/* main content */

.content {
    flex-grow: 1;
    padding: 50px;
    padding-bottom: 30px;
    color: #000;
    background-color: #b18bf8;
}

/* home content */

.home__description {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.home__list {
    display: flex;
    margin-bottom: 26px;
}

.home__item {
    flex: 1 1 30%;
    margin: 15px;
    padding: 5px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
}

.home__item-title {
    font-weight: 600;
    color: #b501b5;
}

.home__link {
    display: inline-block;
    padding: 18px 36px;
}

/* about content */

.content__about-text {
    margin-bottom: 10px;
}

.content__about-text:last-of-type {
    margin-bottom: 40px;
}

/* feedback form */

.feedback-form__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.feedback-form__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: #b501b5;
}

.feedback-form__group {
    flex: 1 0 40%;
    margin-right: 8%;
    margin-bottom: 20px;
    font-size: 18px;
}

.feedback-form__group:nth-child(2n) {
    margin-right: 0;
}

.feedback-form__group:last-child {
    padding-bottom: 10px;
    align-self: flex-end;
    text-align: end;
}

.feedback-form__label {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
} 

.feedback-form__input {
    padding: 5px;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    line-height: 1.2;
}

textarea.feedback-form__input {
    resize: none;
}

.feedback-form__submit {
    padding: 14px 55px;
}

/* footer */

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #3333fb;
}

.footer__text {
    color: #fff;
    letter-spacing: 2px;
}